<div class='ema-search-page'>
    <section class='ema-search-view'>
        <div class='row ema-search-main'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ema-search-nav">
                <p class="ema-nav-title">Filters</p>
                <p>Coming Soon...</p>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ema-search-body">
               
                <div class="ema-medView-body" >
                    <div *ngIf="!medicineList" class="ema-search-notFound">
                        <p >Page not found</p>
                    </div>
                    
                    <ema-document-header *ngIf="medicineList" [title]="resultsText"></ema-document-header>
                     <ul class="ema-search-resultList" *ngIf="medicineList">
                         <li class="ema-resultList-item" *ngFor="let medicine of medicineList">
                             <div class="ema-resultItem-checkbox"></div>
                             <div class="ema-resultItem-details">
                                 <a class="ema-resultItem-name" [routerLink]="['/View', medicine.listId, medicine.routeLanguage, medicine.routeReference]">{{medicine?.name}} </a>
                                 <p class="ema-resultItem-desc">Lorem ipsum</p>
                                 <p class="ema-resultItem-date">Date of authorisation: 23/06/2017, Revision: 8, Authorised, Last updated: 28/04/2021</p>
                             </div>
                         </li>
                     </ul>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ema-search-footer">
                <ema-footer></ema-footer>

            </div>
        </div>
    </section>
</div>
