:host {
    .ema-document-view {
        height: calc(100vh - 268px);
        overflow: auto;
        p{
            margin:0px;
        }
        @media (max-width: 576px) {
            & {
                height: 100%;
            }
        }
    }
}
