<div class='ema-view-page'>
    <section class='ema-document-view'>
        <div class='row'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ema-document-nav">
                <ema-sidebar [menuNodes]="menuItems"></ema-sidebar>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ema-document-body">
                <ema-document-header></ema-document-header>
                <div class="ema-medView-body">
                    <p>Information in document</p>
                    <p>Information in document</p>
                    <p>Information in document</p>
                    <p>Information in document</p>
                    <p>Information in document</p>
                    <p>Information in document</p>
                    <p>Information in document</p>
                    <p>Information in document</p>
                    <p>Information in document</p>
                    <p>Information in document</p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ema-footer></ema-footer>

            </div>
        </div>
    </section>
</div>