<div class='ema-view-page'>
    <section class='ema-document-view'>
        <div class='row ema-document-main'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ema-document-nav">
                <ema-sidebar [menuNodes]="showDataInUI? menuItems: null"></ema-sidebar>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ema-document-body">
                <ema-document-header [title]="medicineName" [showLangDropdown]="true" [showShareFeature]="true" [dropdownOptions]="availableLanguages" (changeLang)='onLanguageChange($event)' [languageSelected]='currentLang'>
                </ema-document-header>
                <ema-action-links (onActionClick)=changeDoctype($event) [actionList]='docTypeList'></ema-action-links>
                <div class="ema-medView-body">
                   
                    <ema-document-body-tree *ngIf="documentData && showDataInUI" [sectionData]="documentData"></ema-document-body-tree>
                    <p *ngIf="!documentData ">{{noDataText}}</p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ema-footer></ema-footer>
            </div>
        </div>
    </section>
</div>
